.background-image {
  position: fixed;
  top: 0;
  left: 0;
}
.baivietall {
    padding: 30px;
    color: #00ace6;
}
.baiviet {
  padding : 50px 0;
}
.baivietall p {
  font-size: 150%;
  
}
.baivietall a {
  font-size: 100%;
  color: black;
  
}
.baivietall ul li {
  font-size: 150%;
}
.baivietcontent {
  background-color: #22a7d3a2;
  color: black;
}
.imagesource {
  background-color: #22a7d3a2;
}
* {
    box-sizing: border-box;
    margin: 0px; 
    padding:0px;
  }
[class*="col-"] {
    width: 100%;
  }
@media only screen and (max-width:1200px) {
    /* For small laptops: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .baivietall h1 {
      font-size: 30px;
    }
    .baivietall p {
      font-size: 110%;
    }
    .baivietall ul li {
      font-size: 110%;
    }


}
@media only screen and (max-width:992px) {
    /* For tablet: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .baivietall h1 {
      font-size: 25px;
    }
    .baivietall p {
      font-size: 80%;
    }
    .baivietall ul li {
      font-size: 80%;
    }
    .baiviet {
      padding : 40px 0;
    }
  }
  
  
  @media only screen and (min-width:588px) and (max-width:768px)  {
    /* For  phones: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  
    .baivietall h1 {
      font-size: 20px;
    }
    .baivietall p {
      font-size: 60%;
    }
    .baivietall ul li {
      font-size: 60%;
    }
    .baiviet {
      padding : 30px 0;
    }
  }


  @media only screen and (min-width:367px) and (max-width:588px)  {
    /* For phones: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .baivietall h1 {
      font-size: 14px;
    }
    .baivietall p {
      font-size: 40%;
    }
    .baivietall ul li {
      font-size: 40%;
    }
    .baiviet {
      padding : 20px 0;
    }
  }


  @media only screen and (min-width:0px) and (max-width:367px) {
    /* For phones: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}


    .baivietall h1 {
      font-size: 10px;
    }
    .baivietall p {
      font-size: 30%;
    }
    .baivietall ul li {
      font-size: 30%;
    }
    .baiviet {
      padding : 15px 0;
    }

  }